@page "/demo/table"

<div>
    <Heading Level="HeadingLevel.H1" class="text-truncate">
        Table Demo
    </Heading>
    <Table TItem="TestObject" Data="this.Data">
        <ChildContent>
            <TableColumn TItem="TestObject" Title="String" Property="x => x.StringProp"></TableColumn>
            <TableColumn TItem="TestObject" Title="Int" Property="x => x.IntProp.ToString()"></TableColumn>
            <TableColumn TItem="TestObject" Title="DateTime" Property="x => x.DateTimeProp.ToString()" Context="colItem">
                <ItemTemplate>
                    <Badge Color="NamedColor.Primary">
                        @colItem.DateTimeProp.ToString()
                    </Badge>
                </ItemTemplate>
            </TableColumn>
        </ChildContent>
    </Table>
</div>
